<div class = "formNote">
    <form #formNote>
        <input type="text" name="title" placeholder="TITLE" autocomplete="off"/>
        <br>
        <textarea rows="5" name="content" placeholder="BODY" autocomplete="off"></textarea>
        <br>
    </form>  
    <button class="btnAddNote"(click)="onAddNote(formNote)">Add Note</button>
    <button class="btnAddNote" (click)="onCopyNote(formNote)">Copy</button>
    <button class="btnAddNote" (click)="onDeleteNote(formNote)">Delete</button>
</div>


<div *ngFor="let note of notes"
    [class] = "note.visible ? 'note' : 'notVisible'">
    <h3>{{note.title}}</h3>
    <textarea disabled="true" #textNote>{{note.body}}</textarea>
    <br>
    <button class="btnNote" (click)="onCopyNotes(textNote)">Copy</button>
    <button class="btnNote" (click)="onDelete(note)">Delete</button>
</div>